

[package]
name = "cosmic-ext-applet-clipboard-manager"
version = "0.1.0"
authors = ["wiiznokes <wiiznokes2@gmail.com>"]
edition = "2021"
license = "GPL-3.0"
homepage = "https://github.com/wiiznokes/clipboard-manager/"
repository = "https://github.com/wiiznokes/clipboard-manager.git"
rust-version = "1.79"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
log = "0.4"
tokio = { version = "1.36", features = ["full"] }
once_cell = "1.19"

i18n-embed = { version = "0.14", features = [
    "fluent-system",
    "desktop-requester",
] }
i18n-embed-fl = "0.8"
rust-embed = "8.3"

derivative = "2.2"
os_pipe = "1.1"
thiserror = "1.0"
paste = "1.0.14"
directories = "5.0"
anyhow = "1.0.86"
chrono = { version = "0.4.38", default-features = false, features = ["now"] }
mime = "0.3.17"
rusqlite = "0.31.0"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.16", features = [
    "fmt",
    "env-filter",
    "ansi",
] }
tracing-journald = "0.3.0"
constcat = "0.5.0"
nucleo = "0.5.0"
url = "2.5.2"

[dependencies.libcosmic]
git = "https://github.com/pop-os/libcosmic"
default-features = false
features = [
    "applet",
    "tokio",
    "wayland",
    #"multi-window",
    #"winit",
    #"wgpu",
]

[dependencies.wl-clipboard-rs]
# git = "https://github.com/wiiznokes/wl-clipboard-rs.git"
# branch = "watch"
path = "../wl-clipboard-rs"

# [patch."https://github.com/pop-os/libcosmic".libcosmic]
#git = "https://github.com/wiiznokes/libcosmic"
#branch = "icon-applet"
# path = "../libcosmic"


[dev-dependencies]
serial_test = "3.1.1"


[profile.release-lto]
inherits = "release"
lto = "fat"
