

[package]
name = "cosmic-ext-applet-clipboard-manager"
version = "0.1.0"
authors = ["wiiznokes <wiiznokes2@gmail.com>"]
edition = "2021"
license = "GPL-3.0"
homepage = "https://github.com/wiiznokes/clipboard-manager/"
repository = "https://github.com/wiiznokes/clipboard-manager.git"
rust-version = "1.80"

[dependencies]
serde = { version = "1", features = ["derive"] }
log = "0.4"
tokio = { version = "1", features = ["full"] }
once_cell = "1"

i18n-embed = { version = "0.15", features = [
    "fluent-system",
    "desktop-requester",
] }
i18n-embed-fl = "0.9"
rust-embed = "8"

derivative = "2"
os_pipe = "1"
thiserror = "1"
paste = "1"
directories = "5"
anyhow = "1"
chrono = { version = "0.4", default-features = false, features = ["now"] }
mime = "0.3"
sqlx = { version = "0.8", features = ["sqlite", "runtime-tokio"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = [
    "fmt",
    "env-filter",
    "ansi",
] }
tracing-journald = "0.3"
constcat = "0.5"
nucleo = "0.5"
futures = "0.3"

[dependencies.libcosmic]
git = "https://github.com/pop-os/libcosmic"
default-features = false
features = [
    "applet",
    "tokio",
    "wayland",
    #"multi-window",
    #"winit",
    #"wgpu",
]

[dependencies.wl-clipboard-rs]
git = "https://github.com/wiiznokes/wl-clipboard-rs.git"
branch = "watch"
# path = "../wl-clipboard-rs"

# [patch."https://github.com/pop-os/libcosmic".libcosmic]
#git = "https://github.com/wiiznokes/libcosmic"
#branch = "icon-applet"
# path = "../libcosmic"


[dev-dependencies]
serial_test = "3"


[profile.release-lto]
inherits = "release"
lto = "fat"
