[Desktop Entry]
Name=Clipboard Manager
Name[pt]=Gestor da Área de Transferência
Comment=A wayland clipboard manager
Comment[pt]=Miniaplicativo para gerenciar itens copiados no sistema
Keywords=Cosmic;Iced;history;
Keywords[pt]=clipboard;histórico;

# translators: do not translate this part
Icon=io.github.cosmic_utils.cosmic-ext-applet-clipboard-manager-symbolic
Categories=Cosmic;Iced;
Type=Application
Exec=cosmic-ext-applet-clipboard-manager
Terminal=false
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
