[Desktop Entry]
Name=Clipboard Manager
Comment=A wayland clipboard manager
Keywords=Cosmic;Iced;history;

# translators: do not translate this part
Icon=io.github.wiiznokes.cosmic-ext-applet-clipboard-manager-symbolic
Categories=Cosmic;Iced;
Type=Application
Exec=cosmic-ext-applet-clipboard-manager
Terminal=false
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
